node_modules
\.DS_Store

iri/target*
iri/.classpath
iri/.project
iri/.settings
iri/tomcat.*
iri/*.iml
iri/.classpath
iri/.project
iri/*.class
iri/target/*
iri/*.iri
iri/*.jar
iri/src/main/ixi/
iri/dependency-reduced-pom.xml
iri/.gitignore

*.png
